# dependencies
node_modules/
package-lock.json
yarn-error.log
lerna-debug.log

# test coverage
coverage/

.DS_Store

.gcloudignore

# yarn v3
.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions